.language-selector-wrapper{
   
   .language-selector{
      @include flex(center, flex-end, row);
      padding: 0;
      margin: 0;
      li{
         opacity: .5;
         &:hover{
            img{
               outline: 1px solid $gray;
            }
         }
         &.current{
            opacity: 1;
         }
         &:nth-child(1){
            margin-right: oe_rem(8px);      
         }
      }
   }

}